body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background: url(https://i.ytimg.com/vi/SkE-v9OL4DY/maxresdefault.jpg);
	
}

h1 {
  font-family: Palatino,
    'Palatino Linotype', serif;
   font-size: 32px;
  color: Red;

  
}

h2 {
	font-size: 32px;
	border-style: double;
}


.hero {
	padding: 250px 0;
	margin: 30px;
	
}


p {
	font-size: 20px;

}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}
